.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FA8B65;
}

.text-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    & h2 {
        text-align: center;
        height: 80px;
        padding-top: 10px;
    }
    & a {
        text-align: center;
        font-size: 30px;
        color: black ;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
            color: #163CCC;
            text-decoration:underline;
        }
    }
}