.app {
    background-color: #292B65;
    height: 100%;
    width: 100%;
}



.app > .text-body {
    height: 60px;
    padding-top: 15px;
    color: #FA8B65;
}

.app > .text-body h1 {
    text-decoration: underline;
}
