
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Merriweather&display=swap');


body{
    margin: 0px;
}

.background{
    background-image: url();
}
.app > .heading {
    height: 150px;
    & h1 {
        font-size: 90px;
        font-family: 'Macondo', cursive;;
    }
}

.app > .text-body {
    height: 60px;
    padding-top: 15px;
    color: #FA8B65;
}

.app > .text-body h1 {
    text-decoration: underline;
}
