@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    font-size: 25px;
    background-color: #FA8B65;
}

.navbar a {
    color: black;
    text-decoration: none;
    text-shadow: 2px 2px skyblue;
    font-weight: 500;
    font-family: 'Merriweather', serif;
}

.navbar a:hover {
    text-decoration: underline;
    color: #163CCC;

}



