.mainContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 200px;
}

.nameContainer {
    display: flex;
    justify-content: center;
    height: 40px;
    & h1 {
        font-size: 30px;
        text-decoration: underline;
    }
}

.PowersPageTitle h1{
    text-align: center;
    font-size: 50px;
    text-transform: capitalize;
    text-shadow: 2px 2px skyblue;
}

.descriptionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    text-align: center;
    & p {
        font-size: 20px;
    }

}

.descriptionContainer2 {
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    height: 80px;
    text-align: center;
    & p {
        font-size: 20px;
    }

}

